<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.2.6602.0" authCookieName=".SFAUTH-SitefinityWebApp" rolesCookieName=".SFROLES-SitefinityWebApp" validationKey="49780DC6CC6843A3790CA1DB3829C5006D47DC36803174D22CC0D153FAFA3E202D6E4E392B3DBD7BE74F2EB46309D03F9001E39941797B77647B4747E0DA9AF3" decryptionKey="A541239656C53A62014C8621ED630E8849C4C2B04D071A3688B15AAD49CA0E9E" loggingCookieName=".SFLOG-SitefinityWebApp">
	<securityTokenIssuers>
		<add key="4761A1999A639F098AF1275F6ECC92068D6FE5500E29B3ACCC48C00A4E67B72E" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="4761A1999A639F098AF1275F6ECC92068D6FE5500E29B3ACCC48C00A4E67B72E" realm="http://localhost" />
	</relyingParties>
</securityConfig>